body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    justify-content: center;
}
h2 {
    margin-top: 0;
}
label {
    margin-bottom: 5px;
}
input[type="text"], select {
    width: 60%;
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
/* Additional styles for user profile */
  .main-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 5px;
      overflow: hidden; /* Ensures floated elements are contained */

  }
  
 .main-row {
      display: flex;
      overflow: hidden; /* Clear floats */
      margin-bottom: 10px
}

  .main-section {
      float: left;
      width: 50%;
      padding:10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
      vertical-align: top; /* Align sections to the top */
      font-size: 12px
  }
  
 

  .profile-photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 20px;
  }
  .main-section h3 {
      margin-top: 0;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
  }

 /* Adjust label width */
.main-section label {    
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
    margin-bottom: 5px; /* Reduce vertical spacing between labels */
}

/* Adjust input and select width */
.main-section input,
.main-section select {
    width: 65%; /* Adjust the width as needed */
    margin-bottom: 5px; /* Reduce vertical spacing between inputs */
}

/* Ensure labels and inputs are on the same line */
.main-section label, .main-section input {
    vertical-align: middle; /* Align elements vertically */
}

/* Reset submit button width and adjust margin */
.main-section input[type="submit"] {
    width: auto; /* Restore default width */
    margin-top: 10px; /* Increase vertical spacing between submit button and other inputs */
}
  .item-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px; 
}

.item-table th, .item-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px
}

.item-table th {
    background-color: #f2f2f2;
    color: #333;
}

.item-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.item-table tr:hover {
    background-color: #f2f2f2;
}

.item-table td:first-child {
    font-weight: bold;
}
